<div class="fondo1">

  <div class="formulario">
    <h2 class="h2-color text-center">Sign up</h2>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field ajuste">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field ajuste">
          <%= f.label :password %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field ajuste">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions boton">
          <%= f.submit "Sign up" %>
        </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>

</div>




