
body{
  background-image: url("bg.jpg");
}

.h2-color{
  color: #fff;
  font-size:2.8em;
  margin-bottom: 50px;
}

.formulario {
  width: 40%;
  height: 50%;
  padding: 25px 40px;
  margin: auto;
  margin-top: 150px;
  border-radius: 25px;
  background: rgba(0,0,0,0.7);
}

.ajuste label{
  color: #fff;
  font-size: 18px;
}
.ajuste input{
  width: 100%;
  height: 30px;
}

.ajuste em{
  color: #fff;
}

.formulario a{
  color: #fff !important;
  text-decoration: none !important;
}

.boton input{
    width: 80px;
    height:40px;
    border-radius: 7px;
    color: #fff;
    background-color: #1B76FF;
  }

.boton input:hover{
  width: 80px;
  height:40px;
  border-radius: 7px;
  color: #fff;
  background-color: #2C1DFF;
}
