// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass

body{
  background-image: url("upoli.jpg");
}

body p{
  color: #fff;
  font-size: 1.2em;
}

body p a{
  color: #fff !important;
  text-decoration: none !important;
}

body p a:hover{
  background: rgba(0,0,0,0.7);
  color: #fff !important;
}

.container h1{
  color: #fff;
}

.container h3{
  color: #1B76FF;
}

.container p{
  color: #fff;
}